*{
  margin: 0;
  padding: 0;
  // font-size: 5.33333vw;
}
// var size = 75/(750/2) * 100;
// fontSize =  size/screen*100+ "vw";
.w {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  /* background-color: red; */
}
button {
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
}