.listIcon { display: inline-block; vertical-align: middle; background-image: url(../../images/sprite/list_sprite.png) }
.icon-li_collect { width: 1.05rem; height: 0.95rem; background-position: -3rem 0rem; background-size: 5.95rem 3.95rem;}
.icon-li_collected { width: 1.05rem; height: 0.95rem; background-position: 0rem -3rem; background-size: 5.95rem 3.95rem;}
.icon-pickUp { width: 0.9rem; height: 0.525rem; background-position: -5.05rem 0rem; background-size: 5.95rem 3.95rem;}
.icon-playCurt { width: 0.75rem; height: 0.8rem; background-position: -2.05rem -3rem; background-size: 5.95rem 3.95rem;}
.icon-time { width: 0.6rem; height: 0.6rem; background-position: -5.05rem -1.525rem; background-size: 5.95rem 3.95rem;}
.icon-warnning { width: 2rem; height: 2rem; background-position: 0rem 0rem; background-size: 5.95rem 3.95rem;}